<%- include ("../partials/header.ejs") %>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Songs</h1>
        <p class="lead text-muted">List of all songs</p>
          <a href="/songs/new" class="btn btn-primary my-2">Add new song</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% songs.forEach(function(songs){ %>
        <div class="col">
          <div class="card shadow-sm">
              <img src="<%= songs.coverImage %>"  class="song-index-image ">
            <div class="card-body">
              <p class="card-text">Title: <%= songs.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/songs/<%= songs._id %>" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div> 
       <% }); %>
        </div>
      </div>
     </div>



<%- include ("../partials/footer.ejs") %>